<div class="footer bg-light">
				<div class="foot-contents">
					<div class="foot-title">
						<h5 class="">MEEDO RECORDS</h5>
						<p>What's that sound?</p>
					</div>
					<div class="foot-links">
						<div class="">
							<h6 class="">Explore</h6>
							<a href="#">Home</a>
							<a href="#">Artists</a>
							<a href="/albums.html">Albums & Singles</a>
							<a href="#">Contact Us</a>
						</div>
						<div class="">
							<h6 class="">Support</h6>
							<a href="#">Support</a>
							<a href="#">About Us</a>
							<a href="#">Privicy Policy</a>
						</div>
						<div class="">
							<h6 class="">Find Us</h6>
							<a href="#">Send Message</a>
							<a href="#">Send Demo</a>
							<a href="#">Pricing</a>
							<a href="#">Highlight</a>
							<a href="#">Label</a>
							<a href="#">Manage Cookies</a>
						</div>
					</div>
					<div class="social-links">
						<img src="./icons/instagram.svg" alt="" />
						<img src="./icons/facebook.svg" alt="" />
						<img src="./icons/book-open.svg" alt="" />
						<img src="./icons/image.svg" alt="" />
						<img src="./icons/phone-call.svg" alt="" />
					</div>
					<div class="foot-bottom">
						<p>Meedo Records <br />2024 Copy Right Reserved</p>
					</div>
				</div>
			</div>
<script src="/library/bootstrap.min.js"></script>
		<script src="/library/jquery.js"></script>