			<div class="header">
				<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
					<div class="container-fluid" id="nav-contents">
						<a class="brand" href="/">
							<img class="brand-img" src="/img/brand.jpg" alt="" />
							<h2 class="brand-txt">
								Meedo<span class="records-txt"> Records </span>
							</h2>
						</a>

						<button
							class="navbar-toggler"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#navbarNavAltMarkup"
							aria-controls="navbarNavAltMarkup"
							aria-expanded="false"
							aria-label="Toggle navigation"
						>
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="this collapse navbar-collapse" id="navbarNavAltMarkup">
							<div class="navbar-nav">
								<a class="nav-link" href="/"> Home </a>
								<a class="nav-link" href="/artists"> Artists </a>
								<a class="nav-link" href="/discover"> News & Update </a>
								<a class="nav-link" href="/about us"> About Us </a>
							</div>
						</div>
					</div>
				</nav>
			</div>